<section class="header-container">
    <img id="image-top" src="../../assets/images/Header--picture.png"/>
    <img id="image-corner" src="../../assets/images/header--corner.png"/>

    <nav class="nav">
        <ul class="nav-list">
            <li><a href="#">About me</a></li>
            <li><a href="#">My careers</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Contact me</a></li>
        </ul>
    </nav>

    <div class="content">
        <h1>I'm Caroline Vo</h1>
        <p> Welcome to <span id="orange">My personal website.</span> <br/>
            In this page you will find out more about me where <br/>  
            I will share my experiences and interests. <br/>
            At the same time I would show you how I explore <br/>  my designing skills on this website.
        </p>

        <p style="margin-top: 30px; "> 
            Let's get started!
        </p>

        <button id="header-button" (click)="click()">Start</button>
    </div>
    
</section>


